# Data Collection & Cleaning Process

In [14]:
import pandas as pd

In [50]:
data = pd.read_csv("instagram_reach.csv",index_col=0)
data.head()

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [51]:
data['Time since posted'] = data['Time since posted'].astype(str).str.replace("hours"," ")

In [52]:
data

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30
...,...,...,...,...,...,...,...
8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3,31
9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3,42
10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3,10
11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3,222
12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3,109

In [53]:
#df.drop(['C', 'D'], axis = 1) 
d1 = data.drop(['USERNAME','Caption','Hashtags','S.No'], axis = 1)
d1

    Followers Time since posted  Likes
0        1600              11      139
1         880               2       23
2         255               2       25
3         340               3       49
4         304               3       30
..        ...               ...    ...
8         614               3       31
9         450               3       42
10        182               3       10
11       2039               3      222
12        741               3      109

[100 rows x 3 columns]

# Building model & Predicting

In [54]:
X = d1.iloc[:,:-1].values
#Y= data.iloc[:,1].values
print(X.shape)

(100, 2)

In [56]:
#df.iloc[:,-1:]
Y=d1.iloc[:,-1:].values
print(Y.shape)

(100, 1)

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20, random_state=0)

In [58]:
from sklearn.linear_model import LinearRegression
log = LinearRegression()
log.fit(X_train,Y_train)

LinearRegression()

In [59]:
 print('[0]Logistic Regression training accuracy:', log.score(X_train, Y_train))

[0]Logistic Regression training accuracy: 0.17064036249217263

In [61]:
pred = log.predict(X_test)
print(pred)

[[ 33.56006072]
 [ 47.79890947]
 [ 33.53270461]
 [196.00604124]
 [ 39.87385048]
 [ 33.32479819]
 [ 47.59100305]
 [ 39.3239927 ]
 [ 75.39437527]
 [ 41.50290395]
 [ 47.04935211]
 [ 33.1250986 ]
 [ 33.50808411]
 [ 97.18623994]
 [ 50.73148427]
 [ 35.10020961]
 [ 35.68289471]
 [ 33.28923525]
 [ 34.50384645]
 [ 46.84691691]]

# Calcultaing MSE value

In [64]:
#Actual value is Y_test and predicted test pred
sum = 0
n = len(Y_test)
for i in range(0,n):
    diff = Y_test[i] - pred[i]
    squared_diff = diff **2
    sum = sum + squared_diff
MSE = sum/n
print("MSE:",MSE)

MSE: [1928.63896946]